
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(25, 147, 149, 0.26);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#result {
  width: 70%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  font-family: monospace;
  margin-right: 10px;
}

.copy-btn {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #0056b3;
}

.settings {
  margin-bottom: 20px;
  text-align: left;
}

.setting {
  margin-bottom: 15px;
}

.setting label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.setting input[type="number"],
.setting input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
}

.setting input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin-top: 0;
}

.btn {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}
